@using LastLastChance.Models

@model List<LastLastChance.Models.Order>

@if (Model == null||Model.Count < 0)
{
    <p>No orders found.</p>
}
else
{
    <h1>All Orders</h1>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Order ID</th>
                <th>Customer Email</th>
                <th>Number Of Items</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.User.FullName</td>
                    <td>@order.Id</td>
                    <td>@order.Email</td>
                    <td>@order.OrderItems.Count</td>
                </tr>
            }
        </tbody>
    </table>
}

